In [2]:
# Bookmark:
# https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/04_plotting.html

import pandas as pd

In [3]:
df = pd.DataFrame(
    {
        "Name": ["Brand", "Allen", "Boonnel"],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

In [9]:
df.loc[df["Age"]>34]

      Name  Age     Sex
1    Allen   35    male
2  Boonnel   58  female

In [10]:
df[df["Age"]>34]

      Name  Age     Sex
1    Allen   35    male
2  Boonnel   58  female

In [5]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000